body{
	color: white;
	font-family: sans-serif;
	background-image: url("images/textured_paper.png");
}
#front{
	text-align: center;
}
#home{
	text-align: right;
	float: right;
}
a:hover{
	background: black;
}
h2,a,a:visited{
	COLOR: #FFDead;
}

h1, h4,a.home{
	COLOR: #00BFFF;
}
h2{ 
	font-family: "Papyrus";
	margin: 0;
	font-size: 1.2em;
}
h1{
	font-family: fantasy;
	text-align: center;
	font-weight: normal;
}
p.welcomeMessage{
	font-size: 105%; 
	font-family: "book antiqua", serif;
	color: black;
	background-color: #FFDead;
	padding: 15px;
	margin-right: 20px;
	margin-left: 20px;
	border-style: ridge;
	border-width: thin;
	border-color: black;
}

.page{
	margin: 2em auto;
	width: 55em;
	border: 5px solid #ccc;
	padding: 0.8em;
	background: white;
	background-image: url("images/dark_embroidery.png");
}
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.2em 1.2em; }
.entries li h2  { margin-left: -1em; }
.entries li h4  { margin-left: -0.5em; }
.entries .ing	{ list-style: circle; margin-left: 2.2em; }
dl.add-entry    { font-size: 0.9em; border-bottom: 1px solid #ccc; }
dt.add-entry    { font-weight: bold; padding: 0.8em; }
.metanav{
	text-align: center;
}
.flash          { background: #cee5F5; padding: 0.5em;
					border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
